{erl_opts, [debug_info]}.
{deps, [
    {emcp, {git, "https://github.com/serge2/emcp.git", {branch, "master"}}},
    {jsx, "3.1.0"}
]}.
{aliases, [
    {dev, ["compile"]}
]}.
{shell, [
    {apps, [mcp]},
    {config, "./config/sys.config"},
    {args, ["-args_file", "./config/vm.args"]}
]}.
{relx, [
  {release, {mcp, "0.1.0"}, [mcp]},   %% имя релиза, версия, приложения
  {sys_config, "config/sys.config"},      %% путь к sys.config
  {vm_args, "config/vm.args"}             %% путь к vm.args
]}.
